<h1><%=t "dictionary.mailer.title" %> </h1>
<p><%=t "dictionary.mailer.intro1" %></p>

<%= link_to t("dictionary.mailer.password"), edit_password_reset_url(Settings.locales.default, @user.reset_token,
  email: @user.email) %>
<p><%=t "dictionary.mailer.intro2" %></p>
<p><%=t "dictionary.mailer.intro3" %></p>
