<footer class="footer">
  <small>
    <%= t "dictionary.the" %><a href="http://www.railstutorial.org/"><%= t "dictionary.tutorial" %></a>
    <%= t "dictionary.by" %><a href="http://www.michaelhartl.com/"></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t "layouts.about"), about_path %></li>
      <li><%= link_to (t "layouts.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "dictionary.new" %></a></li>
    </ul>
  </nav>
</footer>
